<html>
    <head>
        <title>{% block title %}{% endblock %} - Messenger</title>
    </head>
    <body>
        {% if is_granted('ROLE_USER') %}
          <div class = "row">
              {% block menu %}
                  <div class = "span8">
                      <ul class="nav nav-pills">
                          <li {% if app.request.get('_route') == 'profile' %} class="active">{% endif %}<a href = "/profile">Profile</a> </li>
                          <li {% if app.request.get('_route') == 'new' %} class="active">{% endif %}><a href = "/messages/new" >New Messages</a></li>
                          <li {% if app.request.get('_route') == 'sent' %} class="active">{% endif %}><a href ="/messages/sent">Sent Messages</a></li>
                      </ul>
                  </div>
                  <div class="span2">
                      <ul class="nav nav-pills">
                          <li><a href="/logout">Logout</a></li>
                      </ul>
                  </div>
              {% endblock %}
          </div>
          <div class = "row">
            {%  block content %} {% endblock %}
          </div>
        {% else %}
          <div class="row">
            {% block menu %}
                <div class="span10">
                    <ul class="nav nav-pills">
                     <li {% if app.request.get('_route') == 'login' %} class="active">{% endif %}><a href="/login">Login</a> </li>
                        <li {% if app.request.get('_route') == 'register' %} class="active">{% endif %}><a href="/register" >Register</a></li>
                    </ul>
                </div>
            {% endblock %}
          </div>
        {% endif %}
    </body>
</html>