<html>
    <head>
        <title>{% block title %}{% endblock %} - Messenger</title>
    </head>
    <body>
        <div class = "row">
          {% block menu %}{% endblock %}
        </div>
        <div class = "row">
          {%  block content %} {% endblock %}
        </div>

    </body>
</html>