<html>
    <head>
        <title>You're a cheater! A big, fat cheater!</title>
    </head>
    <style>
        body {
            background-image: url({{ asset('img/cheat.jpg') }});
        }
    </style>
    <body>
        <h1>Nice try, cheater. Yeeeah. You're nice.</h1>
    </body>