{% extends '::base.html.twig' %}
{% block title %}Main{%  endblock %}
{% block menu %}
Menu here!
{% endblock %}
{% block content %}
{% for message in messages %}
    {% if message.recipient == current or message.name == current %}
      <li>{{ message.name }} -> {{ message.recipient }}</li>
      <li>{{ message.text }}</li>
    {% endif %}
{% endfor %}
<div class = 'nav nav-button'><a href="/create">Create new message</a></div>
{% endblock %}