{% extends '::base.html.twig' %}
{% extends isloggedin ? "interfacemenu.html.twig" : "loginmenu.html.twig" %}
{% block title %}Main{%  endblock %}

{% block content %}
{% for message in messages %}
    {% if message.recipient == current or message.name == current %}
      <li>{{ message.name }} -> {{ message.recipient }}</li>
      <li>{{ message.text }}</li>
    {% endif %}
{% endfor %}
<div class = 'btn-success'><a href="/create">Create new message</a></div>
{% endblock %}