{% block menu %}
    <div class = "span8">
        <ul class = "nav nav-pills">
            <li><a href = "/profile">Profile</a> </li>
            <li><a href = "/messages/new" >New Messages</a></li>
            <li><a href ="/messages/sent">Sent Messages</a></li>
        </ul>
    </div>
    <div class = "span2">
        <ul class ="nav nav-pills">
            <li><a href ="/logout">Logout</a></li>
        </ul>
    </div>
{% endblock %}