{% block menu %}
    <div class = "span10">
       <ul class = "nav nav-pills">
           <li><a href = "/login">Login</a> </li>
           <li><a href = "/register" >Register</a></li>
       </ul>
    </div>

{% endblock %}