{% extends '::base.html.twig' %}
{% block title %}View message {% endblock %}
{% block content %}
    <td>{{ message.name }}</td>
    <td>{{ message.text }}</td>
    <div class='btn-success'><a href="/create">Reply with a new message</a></div>
<div class='btn-success'><a href="/index">Back to main</a></div>
