{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}View message {% endblock %}
{% block content %}
    {% if message.getFromUser() != null %} <td>{{ message.getFromUser().getUsername() }}</td> {%  endif %}
    <td>{{ message.getText() }}</td>
    <div class='btn-success'><a href="{{ path('trivia_messenger_create') }}">Reply with a new message</a></div>
    <div class='btn-success'><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>
{% endblock %}